/* Vendor */
/* @import 'meyer-reset'; */
/* @import 'modern-reset'; */
/* @import 'sanitize'; */
/* @import 'sanitize-forms'; */
/* @import 'sanitize-typography'; */
/* @import 'reboot'; */
/* @import 'normalize'; */

/* To include Bootstrap in the main bundle, uncomment the following line. */
/* @import "../vendor/bootstrap/bootstrap"; */

/* Core */
@use "core/mixin";
@use "core/variables";
@use "core/fonts";
@use "core/helper_classes";

/* Base */
@use "core/base";

/* Layout */
@use "layout/header";
@use "layout/footer";
