html {
  color: #222;
  font-size: 1em;
  height: 100%;
  line-height: 1.4;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font: normal 400 16px/26px "Arial sans-serif";
  height: 100%;

  &.flex-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

    & .main-container {
      /* display: flex; */
      /* flex-wrap: wrap; */
      /* flex-direction: column; */
      flex-grow: 1;
    }
  }
}


/* style Maxim Mozzgov */



